[submodule "net-http"]
	path = net-http
	url = https://github.com/ruby/net-http.git
[submodule "ruby-jwt"]
	path = ruby-jwt
	url = https://github.com/jwt/ruby-jwt.git
[submodule "sigstore-ruby"]
	path = sigstore-ruby
	url = https://github.com/sigstore/sigstore-ruby.git
[submodule "net-ssh"]
	path = net-ssh
	url = https://github.com/net-ssh/net-ssh.git
[submodule "net-imap"]
	path = net-imap
	url = https://github.com/ruby/net-imap.git
[submodule "ruby-openssl"]
	path = ruby-openssl
	url = https://github.com/ruby/openssl.git
