language: ruby
sudo: false
jdk:
  - openjdk7
  - oraclejdk8
env:
  - TEST_PROFILE=test-1.7.20
  - TEST_PROFILE=test-1.7.26
  - TEST_PROFILE=test-9.0.5.0
  - TEST_PROFILE=test-9.1.8.0
  - TEST_PROFILE=test-9.1.13.0

install: if [[ -v BUNDLE_INSTALL ]]; then jruby -S bundle install; else echo ""; fi

script: if [[ -v TEST_COMMAND ]]; then $TEST_COMMAND; else mvn verify -P $TEST_PROFILE; fi

matrix:
  allow_failures:
    #- env: TEST_PROFILE=test-1.7.22 # seems as an embed loading bug (same with 1.7.23)
    - env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-1.7.24
    - env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-1.7.21
  include:
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-1.7.24
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-1.7.25
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-1.7.26
    #
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn verify -P test-1.7.24" BUNDLE_INSTALL=true RUBY_MAVEN_VERSION=3.3.8
      rvm: jruby-1.7.22
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn verify -P test-1.7.26" BUNDLE_INSTALL=true RUBY_MAVEN_VERSION=3.3.8
      rvm: jruby-1.7.26
    #
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-1.7.26
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-1.7.21
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-9.0.5.0
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-9.1.5.0
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-9.1.8.0
notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true
