language: ruby

dist: precise # due OpenJDK 7
jdk:
  - openjdk7
  - oraclejdk8

env:
  - TEST_PROFILE=test-9.0.5.0
  - TEST_PROFILE=test-9.1.8.0
  - TEST_PROFILE=test-9.1.17.0

before_install:
  - unset _JAVA_OPTIONS
  - rvm @default,@global do gem uninstall bundler -a -x -I || true
  - gem install bundler -v "~>1.17.3"

install: if [[ -v BUNDLE_INSTALL ]]; then jruby -S bundle install; else echo ""; fi

script: if [[ -v TEST_COMMAND ]]; then $TEST_COMMAND; else mvn verify -P $TEST_PROFILE; fi

matrix:
  allow_failures:
    - jdk: openjdk7
      env: TEST_PROFILE=test-9.0.5.0
    - jdk: openjdk7
      env: TEST_PROFILE=test-9.1.8.0
    - jdk: openjdk7
      env: TEST_PROFILE=test-9.1.17.0
    - jdk: oraclejdk11
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
    - rvm: jruby-head
  include:
    # since maven runit fails to boot with test-unit being a default gem on 9.2 :
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-9.2.5.0
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-9.2.9.0
    #
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-1.7.24
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-1.7.27
    #
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn verify -P test-1.7.26" BUNDLE_INSTALL=true RUBY_MAVEN_VERSION=3.3.8
      rvm: jruby-1.7.26
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-9.2.8.0
    - jdk: oraclejdk11
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-9.2.9.0
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-head
    - jdk: oraclejdk11
      env: TEST_COMMAND="jruby -rbundler/setup -S rmvn test-compile && jruby -S rake test" BUNDLE_INSTALL=true
      rvm: jruby-head
    #
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-1.7.26
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-1.7.27
    - jdk: oraclejdk8
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-9.2.8.0
    - jdk: openjdk7
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-9.1.17.0
    - jdk: oraclejdk11
      env: TEST_COMMAND="jruby -S rake integration:install integration:test"
      rvm: jruby-9.2.9.0
notifications:
  irc:
    channels:
      - "irc.freenode.org#jruby"
    on_success: change
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true
